@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="Health">
		<p>
			💖: @_playerHP.playerHP
		</p>
	</div>
	<div class="currentGun">
		<p>
			Ammo:  @_weaponHolder.currentAmmo | @_weaponHolder.maxAmmo
		</p>
	</div>
</root>

@code
{
	[Property] PlayerHP _playerHP{ get; set; }
	[Property] WeaponHolderScript _weaponHolder { get; set; }


	protected override int BuildHash()
	{
		return System.HashCode.Combine(_playerHP.playerHP, _weaponHolder.currentAmmo, _weaponHolder.maxAmmo);
	}
}
