@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="Health">
		<p>
			💖: @_HP
		</p>
	</div>
	<div class="currentGun">
		<p>
			Ammo:  @_weaponHolder.currentAmmo | @_weaponHolder.maxAmmo
		</p>
	</div>
</root>

@code
{
	[Property] UnitComponent unitComponent{ get; set; }
	[Property] WeaponHolderScript _weaponHolder { get; set; }

	private float _HP;
	protected override int BuildHash()
	{
		if (!unitComponent.IsValid())
		{
			_HP = 0;
		}
		else
		{
			_HP = unitComponent.currentHP;
		}
		return System.HashCode.Combine(_HP, _weaponHolder.currentAmmo, _weaponHolder.maxAmmo);
	}
}
